.card {
  background: #FDFC96;
  width: 240px;
  border-radius: 7px;
  box-shadow: 0 2px 5px rgb(175, 175, 175);
  padding: 10px;
  margin: 16px;
  float: left;
  margin-right: 0;
}

.card-footer {
  display: flex;
}


.card-footer .like-count {
  display: flex;
  flex-grow: 1;
}
