.card-form {
  position: relative;
  width: 50%;
  margin: 20px auto;
  background: #fff;
  padding: 7px;
  border-radius: 7px;
  box-shadow: 0 2px 19px rgba(255, 0, 130, 0.5);
}

.card-form .input {
  font-family: 'Reenie Beanie', cursive;
  width: 100%;
  border: none;
  margin-bottom: 20px;
  font-size: 1.5rem;

}

.card-form .btn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 18px;
  bottom: -18px;
  font-size: 1.6rem;
  color:rgb(252, 140, 200);
  background: rgb(0, 0, 0);
  border: none;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  box-shadow: 0 1px 3px rgb(165, 165, 165);
  cursor: pointer;
  outline: none;
}