.chosen-board-name {
    font-family: 'Permanent Marker', cursive; 
    font-size: 2.5em;
    background-color: rgb(252, 169, 45);
    margin-right: 5%;
    margin-left: 5%;
}

.chosen-board-member {
    font-family: 'Permanent Marker', cursive; 
    font-size: 1.5em;
}

.circle-sketch-highlight{
    font-family: 'Reenie Beanie', cursive; 
    position:relative;
    left:0.5em;
    font-size: 32px;
    font-weight: 500;
}
.circle-sketch-highlight:before{
    content:"";
    z-index:-1;
    left:-0.5em;
    top:-0.1em;
    border-width:1px;
    border-style:solid;
    border-color:#000000;
    position:absolute;
    border-right-color:transparent;
    width:100%;
    height:1em;
    transform:rotate(2deg);
    opacity:0.7;
    border-radius:50%;
    padding:0.1em 0.25em;
}
.circle-sketch-highlight:after{
    content:"";
    z-index:-1;
    left:-0.5em;
    top:0.1em;
    padding:0.1em 0.25em;
    border-width:1px;
    border-style:solid;
    border-color:#000000;
    border-left-color:transparent;
    border-top-color:transparent;
    position:absolute;
    width:100%;
    height:1em;
    transform:rotate(-1deg);
    opacity:0.7;
    border-radius:50%;
}